@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Homework Creator</h1>
    <p class="lead">Toward better learning and easier feedback. Integrates with PowerSchool Learning.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Overview</h2>
        <p>
            Homework Creator is an attempt to allow teachers to easily create online practice modules that easily integrate into LMS systems and enable students to practice at their own pace. 
        </p>
        <p><a class="btn btn-default" href="">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get Started</h2>
        <p>Create an account or log in to get started.</p>
        <p><a class="btn btn-default" href="#">Log in &raquo;</a></p>
    </div>
</div>